<% if current_user %>
  <%= image_tag current_user.image_url, class: "img-thumbnail profile-image" if current_user.image_url %><br>
  <p class="lead">Welcome to Socratic, <%= current_user.full_name %>. Looking good!</p>
<% else %>
  <p class="lead">Welcome to Socratic.</p>
<% end %>