// Custom bootstrap variables must be set or imported *before* bootstrap.
$primary:          #FEC30A;
@import "bootstrap";
@import "questions";

main {
  padding-top: 0.7em;
}
.profile-image {
  width: 150px;
}

.navbar-brand img {
  height: 55px;
}

.notice, .alert {
  margin: 0;
}