// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// When question text is in a card group, wrap at 75px
.card-group .card-question-text {
  height: 75px;
  overflow: hidden;
  white-space: pre-wrap;
}

.select-answer {
  font-size: 24pt;
  text-align: center;
  opacity: 0.2;
}

.selected-answer {
  opacity: 1;
}

.answers {
  margin-top: 3em;
}
.answers .card {
  margin: 10px 0 10px 0;
}